body {
    background-color: #222;
    color: #ccc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.block {
    padding: 40px;
    border-radius: 15px;
    border: 2px solid #555555;
    height: auto;
    margin-bottom: 40px;
}

header {
    font-size: 40px;
}

form {
    width: 50%;
    margin: auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

.custom-file-input {
    display: inline-block;
    background-color: #555;
    color: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-file-input:hover {
    background-color: #777;
}

#file-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 16px;
}

button {
    margin-top: 15px;

    background-color: #555;
    color: #ccc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777;
}

.select-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Стили для выпадающего списка */
.select-css {
    font-size: 16px;
    font-family: sans-serif;
    color: #ccc;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    padding: 10px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #222 0%,#444 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.select-css:hover {
    border-color: #555;
}

.select-css:focus {
    border-color: #555;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: #ccc;
}

.select-css option {
    font-weight: normal;
}

textarea {
    margin-top: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 80%;
    min-height: 400px; /* Минимальная высота поля */
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222; /* Темный цвет фона */
    color: #ccc; /* Цвет текста */
    resize: vertical; /* Разрешить вертикальное изменение размера */
    outline: none; /* Убрать обводку при фокусе */
}

textarea:focus {
    border-color: #59abe3; /* Цвет границы при фокусе */
    box-shadow: 0 0 0 3px rgba(89, 171, 227, 0.5); /* Тень при фокусе */
}